div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(bg%7e1.webp);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #DC143C;
   text-decoration: none;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #000000;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 61px;
   height: 61px;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 30px 0px 30px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -30px;
   margin-left: -30px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 30px;
   padding-left: 30px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(251,251,251,0.59);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 25px 0px 0px 0px;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 84px;
   height: 84px;
   vertical-align: top;
}
#wb_Image2
{
   height: 100%;
   margin: -10px 0px 0px 0px;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 5px 0px 7px 0px;
   text-align: center;
}
#wb_Text1
{
   color: #000000;
   font-family: Aladin;
   font-weight: normal;
   font-size: 20px;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 5px 0px 7px 0px;
   box-sizing: border-box;
width: 100%;}
#FlexGrid1
{
   display: grid;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   padding: -10px 0px 0px 0px;
   font-size: 0px;
   grid-column-gap: 3px;
   grid-row-gap: 4px;
   grid-template-columns: 1fr;
   grid-template-rows: 100px;
   grid-template-areas:
      "header";
}
#FlexGrid1 .header
{
   display: flex;
   grid-area: header;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 0;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#wb_shopsLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0px 0px 15px 0px;
}
#shopsLayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#shopsLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#shopsLayoutGrid1 > .row > .col-1, #shopsLayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#shopsLayoutGrid1 > .row > .col-1, #shopsLayoutGrid1 > .row > .col-2
{
   float: left;
}
#shopsLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#shopsLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#shopsLayoutGrid1:before,
#shopsLayoutGrid1:after,
#shopsLayoutGrid1 .row:before,
#shopsLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#shopsLayoutGrid1:after,
#shopsLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#shopsLayoutGrid1 > .row > .col-1, #shopsLayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid15
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(251,251,251,0.59);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid15
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid15 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid15 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid15 > .row > .col-1
{
   float: left;
}
#LayoutGrid15 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid15:before,
#LayoutGrid15:after,
#LayoutGrid15 .row:before,
#LayoutGrid15 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid15:after,
#LayoutGrid15 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid15 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 7px 0px 0px 0px;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid9 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid9 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid9 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Image7
{
   height: 100%;
   margin: -10px 0px 0px 0px;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8
{
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
}
#wb_Text8 p, #wb_Text8 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 10px 0px;
   text-align: center;
}
#wb_Text7
{
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   display: block;
   margin: 0px 0px 10px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_LayoutGrid10
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: rgba(251,251,251,0.78);
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid10
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid10 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid10 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid10 > .row > .col-1
{
   float: left;
}
#LayoutGrid10 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid10:before,
#LayoutGrid10:after,
#LayoutGrid10 .row:before,
#LayoutGrid10 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid10:after,
#LayoutGrid10 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid10 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 5px 0px 7px 0px;
   text-align: center;
}
#wb_Text9
{
   color: #FFFF00;
   font-family: Aladin;
   font-weight: normal;
   font-size: 19px;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text9
{
   display: block;
   margin: 5px 0px 7px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10
{
   color: #DC143C;
   font-family: Lobster;
   font-weight: normal;
   font-size: 20px;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text10
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#CardContainer2
{
   display: block;
   position: relative;
   padding: 0px 10px 10px 10px;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#CardContainer2
{
   -webkit-column-count: 3;
   column-count: 3;
   -webkit-column-gap: 0px;
   column-gap: 0px;
   orphans: 1;
   widows: 1;
}
#CardContainer2 > div
{
   display: inline-block !important;
   width: 100% !important;
}
#wb_Card9
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card9-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card9-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 40px;
   width: 100%;
   height: 40px;
}
#wb_Card11
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card11-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card11-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 40px;
   width: 100%;
   height: 40px;
}
#wb_Card10
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card10-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card10-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 40px;
   width: 100%;
   height: 40px;
}
#TabMenu1
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: bold;
   font-size: 9.3px;
   font-style: normal;
   list-style-type: none;
   padding: 10px 0px 4px 5px;
   overflow: hidden;
}
#TabMenu1 li
{
   float: left;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   position: relative;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu1 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 2px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu1 li a:hover
{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu1
{
   border-bottom: 1px solid #D8DCDF;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   background-color: #FFFFFF;
   color: #CC0000;
}
#TabMenu1 li a
{
   border: 1px solid #D8DCDF;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #EEEEEE;
   color: #004276;
}
#TabMenu1 li a:hover
{
   background: #F6F6F6;
   color: #111111;
}
#TabMenu2
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: bold;
   font-size: 9.3px;
   font-style: normal;
   list-style-type: none;
   padding: 10px 0px 4px 5px;
   overflow: hidden;
}
#TabMenu2 li
{
   float: left;
}
#TabMenu2 li a.active, #TabMenu2 li a:hover.active
{
   position: relative;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu2 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 2px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu2 li a:hover
{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu2
{
   border-bottom: 1px solid #D8DCDF;
}
#TabMenu2 li a.active, #TabMenu2 li a:hover.active
{
   background-color: #FFFFFF;
   color: #CC0000;
}
#TabMenu2 li a
{
   border: 1px solid #D8DCDF;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #EEEEEE;
   color: #004276;
}
#TabMenu2 li a:hover
{
   background: #F6F6F6;
   color: #111111;
}
#wb_shopsCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#shopsCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#shopsCard1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
}
#shopsCard1-card-header h1
{
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0;
}
#shopsCard1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 1px solid #000000;
   border-radius: 4px;
   width: 100%;
}
#shopsCard1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#shopsCard1-card-item2 i
{
   color: #FFFFFF;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#page1Combobox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#page1Combobox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page1Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 1;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#page1Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 0px 0px;
   text-align: left;
}
#page1Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page1Editbox1::placeholder
{
   color: #0C0C0C;
   opacity: 1;
}
#page1Editbox1::-ms-input-placeholder
{
   color: #0C0C0C;
}
#page1Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 0px 0px;
   text-align: left;
}
#page1Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page1Editbox2::placeholder
{
   color: #0C0C0C;
   opacity: 1;
}
#page1Editbox2::-ms-input-placeholder
{
   color: #0C0C0C;
}
#page1Combobox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 0px 0px;
   box-sizing: border-box;
}
#page1Combobox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page1CardContainer1
{
   position: relative;
   padding: 10px 10px 10px 10px;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#page1CardContainer1 .owl-dots, #page1CardContainer1 .owl-nav
{
   text-align: center;
   -webkit-tap-highlight-color: transparent;
}
#page1CardContainer1 .owl-nav
{
   margin-top: 10px;
}
#page1CardContainer1 .owl-nav [class*=owl-]
{
   color: #869791;
   font-size: 14px;
   margin: 5px;
   padding: 4px 7px;
   background: #D6D6D6;
   display: inline-block;
   cursor: pointer;
   border-radius: 3px;
}
#page1CardContainer1 .owl-nav [class*=owl-]:hover
{
   background: #869791;
   color: #D6D6D6;
   text-decoration: none;
}
#page1CardContainer1 .owl-nav .disabled
{
   opacity: .5;
   cursor: default;
}
#page1CardContainer1 .owl-nav.disabled+.owl-dots
{
   margin-top: 10px;
}
#page1CardContainer1 .owl-nav
{
   position:  relative;
   top: -154px;
   display:  none;
   justify-content: space-between;
   margin: 0 20px;
   color: #000;
}
#page1CardContainer1 .owl-nav button.owl-prev, #page1CardContainer1 .owl-nav button.owl-next
{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background-color: rgba(255,255,255, 0.5);
}
#page1CardContainer1 .owl-dots .owl-dot
{
   display: inline-block;
   zoom: 1;
}
#page1CardContainer1 .owl-dots .owl-dot span
{
   width: 12px;
   height: 12px;
   margin: 10px 10px;
   background: #D6D6D6;
   display: block;
   -webkit-backface-visibility: visible;
   transition: opacity 200ms ease;
   border-radius: 50%;
}
#page1CardContainer1 .owl-dots .owl-dot.active span, #page1CardContainer1 .owl-dots .owl-dot:hover span
{
   background: #869791;
}
#wb_page1Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#page1Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#page1Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
}
#page1Card1-card-header h1
{
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0;
}
#page1Card1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 1px solid #000000;
   border-radius: 4px;
   width: 100%;
}
#page1Card1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#page1Card1-card-item2 i
{
   color: #FFFFFF;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_page1Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#page1Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#page1Card2-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
}
#page1Card2-card-header h1
{
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0;
}
#page1Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 1px solid #000000;
   border-radius: 4px;
   width: 100%;
}
#page1Card2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#page1Card2-card-item2 i
{
   color: #FFFFFF;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_page1Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#page1Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#page1Card3-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 12px 20px 12px 20px;
   background-color: #F7F7F9;
   background-image: none;
}
#page1Card3-card-header h1
{
   color: #292B2C;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0;
}
#page1Card3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   border-width: 0;
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 0px;
   padding-left: 0;
   padding-right: 0;
   height: 0;
   overflow: hidden;
}
#page1Card3-card-item1 iframe
{
   border-width: 0;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
#page1Card3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 12px 10px 12px 10px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#page1Card3-card-item2 i
{
   color: #FFFFFF;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#page1Editbox3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 0px 0px;
   text-align: left;
}
#page1Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page1Editbox3::placeholder
{
   color: #0C0C0C;
   opacity: 1;
}
#page1Editbox3::-ms-input-placeholder
{
   color: #0C0C0C;
}
#page1Editbox4
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   font-size: 13px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 15px 0px 0px 0px;
   text-align: left;
}
#page1Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#page1Editbox4::placeholder
{
   color: #0C0C0C;
   opacity: 1;
}
#page1Editbox4::-ms-input-placeholder
{
   color: #0C0C0C;
}
#page1Button1
{
   border: 1px solid #FFC000;
   border-radius: 4px;
   background-color: #ED7D31;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 15px 0px 0px 0px;
}
#wb_page1Card3
{
   display: flex;
   text-align: center;
   z-index: 20;
}
#wb_uid1
{
   color: #FFFF00;
}
#wb_uid2
{
   color: #DC143C;
}
#wb_TabMenu1
{
   display: inline-block;
   width: 286px;
   height: 36px;
   z-index: 0;
   overflow: hidden;
}
#wb_uid3
{
   background-color: #FFF5EE;
   color: #DC143C;
}
#page1Button1
{
   display: inline-block;
   width: 139px;
   height: 38px;
   z-index: 31;
}
#page1Editbox1
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 26;
}
#page1Combobox1
{
   display: block;
   width: 100%;
   height: 33px;
   z-index: 25;
}
#wb_TabMenu2
{
   display: inline-block;
   width: 301px;
   height: 36px;
   z-index: 1;
   overflow: hidden;
}
#wb_uid4
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}
#page1Combobox2
{
   display: block;
   width: 100%;
   height: 33px;
   z-index: 30;
}
#page1Editbox2
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 28;
}
#page1Label1
{
   display: block;
   width: 100%;
   line-height: 16px;
   z-index: 24;
}
#wb_Image1
{
   display: inline-block;
   width: 84px;
   height: 84px;
   z-index: 3;
}
#wb_uid5
{
   font-family: "Courier New";
}
#page1Editbox3
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 27;
}
#wb_Image2
{
   display: none;
   width: 100%;
   height: auto;
   z-index: 4;
}
#wb_Bookmark2
{
   display: inline-block;
   width: 100%;
   z-index: 2;
}
#wb_uid6
{
   font-family: "Courier New";
}
#page1Editbox4
{
   display: block;
   width: 100%;
   height: 26px;
   z-index: 29;
}
#wb_uid7
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
   font-weight: bold;
   color: #000000;
}
#wb_Card9
{
   display: flex;
   text-align: center;
   z-index: 32;
}
#wb_uid8
{
   font-family: "Courier New";
   font-weight: normal;
}
#wb_Image7
{
   display: none;
   width: 100%;
   height: auto;
   z-index: 38;
}
#wb_Image8
{
   display: inline-block;
   width: 61px;
   height: 61px;
   z-index: 37;
}
#Bookmark2
{
   visibility: hidden;
}
#wb_Card10
{
   display: flex;
   text-align: center;
   z-index: 34;
}
#wb_Card11
{
   display: flex;
   text-align: center;
   z-index: 33;
}
#wb_shopsCard1
{
   display: flex;
   text-align: center;
   z-index: 19;
}
#wb_page1Card1
{
   display: flex;
   text-align: center;
   z-index: 22;
}
#wb_page1Card2
{
   display: flex;
   text-align: center;
   z-index: 21;
}
#wb_uid0
{
   color: #000000;
}
