div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #DC143C;
   text-decoration: none;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #000000;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_termsandconditionsImage1
{
   margin: 0;
   vertical-align: top;
}
#termsandconditionsImage1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 61px;
   height: 61px;
   vertical-align: top;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 30px 0px 30px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -30px;
   margin-left: -30px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 30px;
   padding-left: 30px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid9 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid9 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid9 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_termsandconditionsImage2
{
   height: 100%;
   margin: -10px 0px 0px 0px;
   vertical-align: top;
}
#termsandconditionsImage2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_termsandconditionsText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_termsandconditionsText3
{
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
}
#wb_termsandconditionsText3 p, #wb_termsandconditionsText3 ul
{
   margin: 0;
   padding: 0;
}
#wb_termsandconditionsText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_termsandconditionsText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 10px 0px;
   text-align: center;
}
#wb_termsandconditionsText4
{
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
}
#wb_termsandconditionsText4 p, #wb_termsandconditionsText4 ul
{
   margin: 0;
   padding: 0;
}
#wb_termsandconditionsText4
{
   display: block;
   margin: 0px 0px 10px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_termsandconditionsLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: rgba(255,255,255,0.98);
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#termsandconditionsLayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#termsandconditionsLayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#termsandconditionsLayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#termsandconditionsLayoutGrid1 > .row > .col-1
{
   float: left;
}
#termsandconditionsLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#termsandconditionsLayoutGrid1:before,
#termsandconditionsLayoutGrid1:after,
#termsandconditionsLayoutGrid1 .row:before,
#termsandconditionsLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#termsandconditionsLayoutGrid1:after,
#termsandconditionsLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#termsandconditionsLayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_booknowCard1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#booknowCard1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#booknowCard1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid transparent;
   border-radius: 0px;
   width: 100%;
}
#wb_termsandconditionsText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 5px 0px;
   text-align: center;
}
#wb_termsandconditionsText1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_termsandconditionsText1 p, #wb_termsandconditionsText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_termsandconditionsText1
{
   display: block;
   margin: 0px 0px 5px 0px;
   box-sizing: border-box;
width: 100%;}
#wb_termsandconditionsText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_termsandconditionsText2
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_termsandconditionsText2 p, #wb_termsandconditionsText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_termsandconditionsText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_uid19
{
   color: #000000;
}
#wb_uid1
{
   font-weight: bold;
}
#wb_booknowCard1
{
   display: flex;
   width: 100%;
   text-align: center;
   z-index: 0;
}
#wb_uid2
{
   color: #000000;
}
#wb_uid3
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid4
{
   margin: 0 0 0 24px;
}
#wb_uid50
{
   font-family: "Courier New";
}
#wb_uid5
{
   font-weight: bold;
}
#wb_uid51
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
   font-weight: bold;
   color: #000000;
}
#wb_uid40
{
   margin: 0 0 0 24px;
}
#wb_uid6
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid52
{
   font-family: "Courier New";
   font-weight: normal;
}
#wb_uid41
{
   font-weight: bold;
}
#wb_uid30
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid7
{
   margin: 0 0 0 24px;
}
#wb_uid53
{
   z-index: 7;
}
#wb_uid42
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid31
{
   margin: 0 0 0 24px;
}
#wb_uid20
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid8
{
   font-weight: bold;
}
#wb_uid54
{
   z-index: 14;
}
#wb_termsandconditionsImage1
{
   display: inline-block;
   width: 61px;
   height: 61px;
   z-index: 3;
}
#wb_uid43
{
   margin: 0 0 0 24px;
}
#wb_uid32
{
   font-weight: bold;
}
#wb_uid21
{
   margin: 0 0 0 24px;
}
#wb_uid10
{
   margin: 0 0 0 24px;
}
#wb_uid9
{
   color: #000000;
   list-style-type: disc;
}
#wb_termsandconditionsImage2
{
   display: none;
   width: 100%;
   height: auto;
   z-index: 4;
}
#wb_uid44
{
   font-weight: bold;
}
#wb_uid33
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid22
{
   font-weight: bold;
}
#wb_uid11
{
   font-weight: bold;
}
#wb_uid45
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid34
{
   margin: 0 0 0 24px;
}
#wb_uid23
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid12
{
   color: #000000;
}
#wb_uid46
{
   margin: 0 0 0 24px;
}
#wb_uid35
{
   font-weight: bold;
}
#wb_uid24
{
   margin: 0 0 0 24px;
}
#wb_uid13
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid47
{
   font-weight: bold;
}
#wb_uid36
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid25
{
   margin: 0 0 0 24px;
}
#wb_uid14
{
   margin: 0 0 0 24px;
}
#wb_uid48
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}
#wb_uid37
{
   margin: 0 0 0 24px;
}
#wb_uid26
{
   margin: 0 0 0 24px;
}
#wb_uid15
{
   font-weight: bold;
}
#wb_uid49
{
   font-family: "Courier New";
}
#wb_uid38
{
   font-weight: bold;
}
#wb_uid27
{
   margin: 0 0 0 24px;
}
#wb_uid16
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid39
{
   color: #000000;
   list-style-type: disc;
}
#wb_uid28
{
   margin: 0 0 0 24px;
}
#wb_uid17
{
   margin: 0 0 0 24px;
}
#wb_uid29
{
   margin: 0 0 0 24px;
}
#wb_uid18
{
   font-weight: bold;
}
#wb_uid0
{
   color: #000000;
}
