div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/bg.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #DC143C;
   text-decoration: none;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #000000;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#FlexGrid1
{
   display: grid;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   padding: -10px 0px 0px 0px;
   font-size: 0px;
   grid-column-gap: 3px;
   grid-row-gap: 4px;
   grid-template-columns: 1fr;
   grid-template-rows: 100px;
   grid-template-areas:
      "header";
}
#FlexGrid1 .header
{
   display: flex;
   grid-area: header;
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 0;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0px 30px 0px 30px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -30px;
   margin-left: -30px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 30px;
   padding-left: 30px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(251,251,251,0.59);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 0px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 25px 0px 0px 0px;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 84px;
   height: 84px;
   vertical-align: top;
}
#YouTube1
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube1
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#wb_LayoutGrid15
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(251,251,251,0.59);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid15
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid15 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid15 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid15 > .row > .col-1
{
   float: left;
}
#LayoutGrid15 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid15:before,
#LayoutGrid15:after,
#LayoutGrid15 .row:before,
#LayoutGrid15 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid15:after,
#LayoutGrid15 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid15 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 7px 0px 0px 0px;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid9 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid9 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid9 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid10
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-clip: padding-box;
   background-color: rgba(251,251,251,0.78);
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid10
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid10 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid10 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid10 > .row > .col-1
{
   float: left;
}
#LayoutGrid10 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid10:before,
#LayoutGrid10:after,
#LayoutGrid10 .row:before,
#LayoutGrid10 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid10:after,
#LayoutGrid10 .row:after
{
   clear: both;
}
@media (max-width: 0px)
{
#LayoutGrid10 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image7
{
   height: 100%;
   margin: -10px 0px 0px 0px;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: cover;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text8
{
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
}
#wb_Text8 p, #wb_Text8 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   padding: 0;
   display: inline-block;
   width: 61px;
   height: 61px;
   vertical-align: top;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0px 0px 10px 0px;
   text-align: center;
}
#wb_Text7
{
   color: #000000;
   font-family: "Courier New";
   font-weight: normal;
   font-size: 13px;
   line-height: 15px;
}
#wb_Text7 p, #wb_Text7 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   display: block;
   margin: 0px 0px 10px 0px;
   box-sizing: border-box;
width: 100%;}
#YouTube2
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   border-width: 0;
}
#wb_YouTube2
{
   display: block;
   position: relative;
   margin: 0;
   height: 0;
   overflow: hidden;
   box-sizing: border-box;
   padding-bottom: 56.25%;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
}
#wb_IconFont3
{
   background-color: #7CFC00;
   background: linear-gradient(to bottom, #244A00 0%, #77F200 25%, #244A00 100%);
   border: 9px solid transparent;
   border-radius: 2px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont3:hover
{
   background-color: #FFFFFF;
   background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 25%, #FFFFFF 100%);
   border: 9px solid transparent;
}
#IconFont3
{
   height: 40px;
   width: 34px;
}
#IconFont3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 40px;
   vertical-align: middle;
   width: 28px;
}
#wb_IconFont3:hover i
{
   color: #800000;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 5px 0px 0px 0px;
   text-align: center;
}
#wb_Text6
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text6 p, #wb_Text6 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text10
{
   color: #DC143C;
   font-family: Lobster;
   font-weight: normal;
   font-size: 20px;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text10
{
   display: block;
   margin: 0;
   box-sizing: border-box;
width: 100%;}
#CardContainer2
{
   display: block;
   position: relative;
   padding: 0px 10px 10px 10px;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#CardContainer2
{
   -webkit-column-count: 3;
   column-count: 3;
   -webkit-column-gap: 0px;
   column-gap: 0px;
   orphans: 1;
   widows: 1;
}
#CardContainer2 > div
{
   display: inline-block !important;
   width: 100% !important;
}
#wb_Card9
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card9-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card9-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 40px;
   width: 100%;
   height: 40px;
}
#wb_Card11
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card11-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card11-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 40px;
   width: 100%;
   height: 40px;
}
#wb_Card10
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Card10-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card10-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   max-width: 40px;
   width: 100%;
   height: 40px;
}
#TabMenu2
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: bold;
   font-size: 9.3px;
   font-style: normal;
   list-style-type: none;
   padding: 15px 0px 4px 10px;
   overflow: hidden;
}
#TabMenu2 li
{
   float: left;
}
#TabMenu2 li a.active, #TabMenu2 li a:hover.active
{
   position: relative;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu2 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 3px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu2 li a:hover
{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu2
{
   border-bottom: 1px solid #D8DCDF;
}
#TabMenu2 li a.active, #TabMenu2 li a:hover.active
{
   background-color: #FFFFFF;
   color: #CC0000;
}
#TabMenu2 li a
{
   border: 1px solid #D8DCDF;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #EEEEEE;
   color: #004276;
}
#TabMenu2 li a:hover
{
   background: #F6F6F6;
   color: #111111;
}
#TabMenu1
{
   text-align: left;
   float: left;
   margin: 0;
   width: 100%;
   font-family: Arial;
   font-weight: bold;
   font-size: 9.3px;
   font-style: normal;
   list-style-type: none;
   padding: 15px 0px 4px 10px;
   overflow: hidden;
}
#TabMenu1 li
{
   float: left;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   position: relative;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   z-index: 2;
}
#TabMenu1 li a
{
   padding: 5px 14px 8px 14px;
   margin-right: 3px;
   text-decoration: none;
   border-bottom: none;
   position: relative;
   top: 0;
   -webkit-transition: 200ms all linear;
   transition: 200ms all linear;
}
#TabMenu1 li a:hover
{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   top: -4px;
}
#TabMenu1
{
   border-bottom: 1px solid #D8DCDF;
}
#TabMenu1 li a.active, #TabMenu1 li a:hover.active
{
   background-color: #FFFFFF;
   color: #CC0000;
}
#TabMenu1 li a
{
   border: 1px solid #D8DCDF;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   background-color: #EEEEEE;
   color: #004276;
}
#TabMenu1 li a:hover
{
   background: #F6F6F6;
   color: #111111;
}
#wb_uid1
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
   color: #000000;
}
#wb_YouTube1
{
   display: inline-block;
   width: 100%;
   z-index: 6;
}
#wb_uid2
{
   font-family: "Courier New";
}
#wb_YouTube2
{
   display: inline-block;
   width: 100%;
   z-index: 7;
}
#wb_TabMenu1
{
   display: inline-block;
   width: 296px;
   height: 36px;
   z-index: 3;
   overflow: hidden;
}
#wb_uid3
{
   font-family: "Courier New";
}
#wb_TabMenu2
{
   display: inline-block;
   width: 283px;
   height: 36px;
   z-index: 2;
   overflow: hidden;
}
#Layer1-container
{
   width: 133px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_uid4
{
   font-family: "Arial";
   font-size: 13px;
   line-height: 16px;
   font-weight: bold;
   color: #000000;
}
#wb_Image1
{
   display: inline-block;
   width: 84px;
   height: 84px;
   z-index: 4;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 1062px;
   top: 1517px;
   width: 133px;
   height: 58px;
   z-index: 34;
}
#wb_uid5
{
   font-family: "Courier New";
   font-weight: normal;
}
#wb_uid6
{
   font-size: 13px;
   line-height: 16px;
   color: #FFFFFF;
}
#wb_uid7
{
   background-color: #FF7F50;
   font-weight: bold;
}
#wb_Text6
{
   position: absolute;
   left: 0px;
   top: 19px;
   width: 82px;
   height: 15px;
   text-align: center;
   z-index: 30;
}
#wb_Card9
{
   display: flex;
   text-align: center;
   z-index: 15;
}
#wb_IconFont3
{
   position: absolute;
   left: 81px;
   top: 0px;
   width: 34px;
   height: 40px;
   text-align: center;
   z-index: 29;
}
#wb_Image7
{
   display: none;
   width: 100%;
   height: auto;
   z-index: 21;
}
#wb_Image8
{
   display: inline-block;
   width: 61px;
   height: 61px;
   z-index: 20;
}
#wb_Card10
{
   display: flex;
   text-align: center;
   z-index: 17;
}
#wb_Card11
{
   display: flex;
   text-align: center;
   z-index: 16;
}
#wb_uid0
{
   background-color: #FFF5EE;
   color: #DC143C;
}
